@model IEnumerable<WebMypham.Areas.Admin.Model.Hoadon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sanpham.TeSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dongia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thanhtien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sanpham.TeSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dongia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soluong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thanhtien)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HoadonID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HoadonID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HoadonID })
        </td>
    </tr>
}

</table>
