<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="~/Assets/css/base.css">
    <link rel="stylesheet" href="~/Assets/css/main.css">
    <link rel="stylesheet" href="~/Assets/css/chamsockhachhang.css">
    <link rel="stylesheet" href="~/Assets/css/dangnhap.css">
    <link rel="stylesheet" href="~/Assets/css/Khoedep.css">
    <link rel="stylesheet" href="~/Assets/css/giohang.css">
    <link rel="stylesheet" href="~/Assets/css/giohang.css">
    <link rel="stylesheet" href="~/Assets/css/cssphu.css">
    <link rel="stylesheet" href="~/Assets/fonts/fontawesome-free-5.15.2-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="app">
        <!--Phần đầu-->
        <header class="header">
            <!--B-->
            <div class="grid">
                <nav class="header__navbar">
                    <!--E-->
                    <!--Bên trái header-->
                    <li class="header__navbar-item">
                        <span class="header__navbar-item-title--no-pointer">Kết nối</span>
                        <a href="https://vi-vn.facebook.com/" class="header__navbar-icon-link">
                            <i class="header__navbar-icon fab fa-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/accounts/login/" class="header__navbar-icon-link">  
                            <i class="header__navbar-icon fab fa-instagram"></i>
                        </a>

                        <a href="https://www.zalo.me/pc/" class="header__navbar-icon-link">
                            <!--Thêm icon face có thể liên kết-->
                            <i class="header__navbar-icon fab fa-facebook"></i>
                    </li>
                    </ul>
                    <!--Bên phải header-->
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item header__navbar-item--has-notify">
                            <a href="" class="header__navbar-item-link">
                                <i class="fas fa-bell"></i>
                                Thông báo
                            </a>
                            <div class="header__notify">
                                <header class="header__notify-header">
                                    <h3>Thông báo mới nhận</h3>
                                </header>
                                <ul class="header__notify-list">
                                    <!--Thông báo 1 -->
                                    <li class="header__notify-item header__notify-item--viewed">
                                        <!--Sử dụng thẻ a để ấn vào hiện link-->
                                        <a href="https://www.skincare.com/" class="header__notify-link">
                                            <img src="https://media.hermosa.vn/cosmetics/1/1_1592491788_5-dau-hieu-nen-tien-san-pham-skincare-dang-dung-ngay-lap-tuc-truoc-khi-moi-chuyen-toi-te-hon.jpg" alt="" class="header__notify-img">
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">Nơi giúp bạn có làn da khỏe đẹp</span>
                                                <span class="header__notify-descriotion">Thông tin làm đẹp bạn không thể bỏ qua</span>
                                            </div>
                                        </a>
                                    </li>
                                    <!--Thông báo 2 -->
                                    <li class="header__notify-item header__notify-item--viewed">
                                        <a href="https://nhatkylamdep.com/review-kem-chong-nang-laroche-posay-cho-t%E1%BB%ABng-loai-da" class="header__notify-link">
                                            <img src="https://www.vivalust.vn/wp-content/uploads/2018/11/kem-chong-nang-la-roche-posay-vivalust.jpg" alt="" class="header__notify-img">
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">[Review] Tổng hợp kem chống nắng La Roche Posay cho từng loại da</span>
                                                <span class="header__notify-descriotion">Trợ thủ đắc lực của mỗi cô gái trong mùa hè</span>
                                            </div>
                                        </a>
                                    </li>
                                    <!--Thông báo 3 -->
                                    <li class="header__notify-item header__notify-item--viewed">
                                        <a href="https://prices.vn/top-list/mascara-maybelline-tot-nhat-nen-dung-l79" class="header__notify-link">
                                            <img src="https://foxcosmetics.vn/wp-content/uploads/2021/03/MA01-Mascara-Thong-Minh-Multi-Function-2-Cong-Dung-fox-3.jpg" alt="" class="header__notify-img">
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">Top 8 mascara cho đôi mi cong dài 2021</span>
                                                <span class="header__notify-descriotion">Dụng cụ không thể thiếu để giúp tăng vẻ đẹp cho đôi mắt</span>
                                            </div>
                                        </a>
                                    </li>
                                    <!--Thông báo 4 -->
                                    <li class="header__notify-item header__notify-item--viewed">
                                        <a href="https://lipstick.vn/shop/son-mac-red-rock-matte/" class="header__notify-link">
                                            <img src="https://nushop.vn/image/catalog/Son%20m%C3%B4i/Son%20Mac%20Matte%20Lipstick%20Mangrove/son-mac-matte-lipstick-1.jpg" alt="" class="header__notify-img">
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">Son Mac Matte Lipstick Mangrove</span>
                                                <span class="header__notify-descriotion">Thiết kế son đơn giản, nhưng không kém phần sang chảnh</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <footer class="header__notify-footer">
                                    <a href="" class="header__notify-footer-btn">Xem tất cả</a>
                                </footer>
                            </div>
                        </li>
                        <li class="header__navbar-item">
                          
                            <a href="Trogiup.html" class="header__navbar-item-link">
                                <i class="fas fa-question-circle"></i>
                                Trợ giúp
                            </a>
                        </li>
                        <li class="header__navbar-item header__navbar-item--strong header__navbar-item--separate">
                            <a href="http://localhost:50647/Nguoidung/Register" class="header__navbar-item-thaotac">Đăng ký</a>
                        </li>
                        <li class="header__navbar-item header__navbar-item--strong ">
                            <a href="http://localhost:50647/Nguoidung/Login" class="header__navbar-item-thaotac">Đăng nhập</a>
                        </li>
                        <ul>
                </nav>

                <!--Phần tìm kiếm-->
                <div class="header-with-search">
                    <div class="header__logo">
                        <img src="~/Assets/img/logo.jpg" alt="Logo" class="header__logo-img">
                    </div>

                    <div class="header__search">
                        @using (Html.BeginForm("KQTimKiem", "TimKiem"))
                        {
                            <div class="header__search-input-wrap">
                                <input type="text" class="header__search-input" name="sTuKhoa" placeholder="Nhập tên sản phẩm cần tìm...">
                                <button class="header__search-btn">
                                    <i class="header__search-btn-icon fas fa-search"></i>
                                </button>
                            </div>

                        }
                    </div>

                    <!--Gio hàng, Chèn Partial View giỏ hàng vào layout ( tách icon giỏ hàng sang 1 partial view mới) -->
                    @Html.Action("GioHangPartial","GioHang") 
                </div>
            </div>

        </header>

        <!--Phần thân-->
        @RenderSection("Chamsockhachhang", required: false)
        @RenderSection("khoedep", required: false)


        <div class="app__container">
            <!--Phần Banner , chỉ định hiện thị silde sang trang index,, flase k bắt buộc, nhưng k hthi ở all các trang, trang con nào có ..section thì mới hthi-->
            @RenderSection("banner", required: false)

        </div>

        <!-- danh mục và sản phẩm -->
        <div class="grid">
            <div class="grid__row app__content">
                <div class="grid__column-2">
                    <nav class="category">

                        <!-- danh mục -->
                        <h3 class="category__heading">
                            <i class="category__heading-icon fas fa-list"></i>
                            Danh mục
                        </h3>
                        <ul class="category-list">
                            <li class="category-item ">
                                <a href="http://localhost:50647/Home/TatCaSanPham" class="category-item__link">Tất cả sản phẩm</a>
                            </li>
                            <li class="category-item ">
                                <a href="http://localhost:50647/Home/SanPhamMoiNhat" class="category-item__link">Sản phẩm mới nhất</a>
                            </li>
                            <li class="category-item ">
                                <a href="http://localhost:50647/Home/SanPhamBanChay" class="category-item__link">Sản phẩm bán chạy</a>
                            </li>
                            <li class="category-item">
                                <a href="http://localhost:50647/Home/SuaRuaMat" class="category-item__link">Sữa rửa mặt - Son</a>
                            </li>
                            <li class="category-item">
                                <a href="http://localhost:50647/Home/KemTriMun" class="category-item__link">Kem trị mụn</a>
                            </li>
                            <li class="category-item">
                                <a href="http://localhost:50647/Home/SucKhoeVaSacDep" class="category-item__link">Sức khỏe và sắc đẹp</a>
                            </li>
                            <li class="category-item">
                                <a href="http://localhost:50647/Home/ChamSocKhachHang" class="category-item__link">Chăm sóc khách hàng</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="grid__column-10">
                    <!--Sapxep-->
                    @RenderSection("sapxeptatcasanpham", required: false)
                    @RenderSection("sapxepmoinhat", required: false)
                    @RenderSection("sapxepbanchay", required: false)


                    <!--Sanpham-->
                    @RenderBody()

                </div>
            </div>
        </div>

        <!--Phần cuối-->
        <footer class="footer">
            <div class="grid">
                <div class="grid__row">

                    <div class="grid__column-2-4">
                        <div class="h3 footer__heading">Chăm sóc khách hàng</div>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Tài khoản</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Đơn hàng & Thanh toán</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Trả hàng & Hoàn tiền</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Bán hàng & Đối soát</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Vận chuyển</a>
                            </li>

                        </ul>
                    </div>

                    <div class="grid__column-2-4">
                        <div class="h3 footer__heading">Giới thiệu BeautyShop</div>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Mục tiêu của chúng tôi</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Vị trí của chúng tôi</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Hành trình của chúng tôi</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Giá trị của chúng tôi</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Của hàng của chúng tôi</a>
                            </li>
                        </ul>
                    </div>

                    <div class="grid__column-2-4">
                        <div class="h3 footer__heading">Theo dõi chúng tôi</div>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="fab fa-facebook"></i>
                                    Facebook
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="fab fa-instagram-square"></i>
                                    Instagram
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="fab fa-tiktok"></i>
                                    Tik Tok
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="grid__column-2-4">
                        <div class="h3 footer__heading">Vào cửa hàng trên ứng dụng</div>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="fab fa-google-play"></i>
                                    Google Play
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="fab fa-app-store"></i>
                                    App Story
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="grid__column-2-4">
                        <div class="h3 footer__heading">Danh mục</div>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Sản phẩm Makeup</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Sản phẩm chăm sóc da</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Sản phẩm điều trị mụn</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Sản phẩm dưỡng trắng da</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Thông tin chi tiết sản phẩm</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Chương trình khuyến mại </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Sức khỏe và sắc đẹp</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="grid__row">
                    <p class="footer__text">2021 Bản quyền thuộc về BeautyShop</p>
                </div>
            </div>
        </footer>
    </div>

    <!-- sildeshow -->
    <script type="text/javascript">
        var counter = 1;
        setInterval(function(){
            document.getElementById('radio' + counter).checked = true;
            counter++;
            if(counter > 3){
                 counter =1;
        }
        }, 5000);

    </script>



</body>
</html>