@model WebMypham.Areas.Admin.Model.Sanpham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Sanpham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Loaisanpham.Tenloaisp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loaisanpham.Tenloaisp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nhacungcap.TenNCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nhacungcap.TenNCC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giacu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giacu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giamoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giamoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaycapnhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaycapnhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thanhphan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thanhphan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hinhanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hinhanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluongton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluongxem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongxem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluongmua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongmua)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SanphamID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
